.tripLegRow {
  & > div {
    position: relative;
    display: flex;
    flex-direction: column;

    & > *:last-child {
      flex-grow: 1;
    }
  }
  & > div:not(:last-child)::after {
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    width: 1px;
    background-color: #888;
    content: "";
  }
}
